{% extends 'devisha/base.html' %}
{% load static %}


{% block content %}

    <img src="{% static 'devisha/grootan.jpg' %}" style="width:1546px;height:400px;">

    <footer class="footer bg-light text-dark" style="margin:32px;">
    <h3>CONTACT US:</h3>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">

            <p class="card-text"><b>Address</b>:<br> #364 n 365, Vaibogh, <br>5th Link Street, Old Mahabalipuram Rd,<br> Nehru Nagar, Perungudi, Chennai,<br> Tamil Nadu.<br>PIN CODE:600096</p>

          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">

            <p class="card-text">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15551.98564534043!2d80.2480676!3d12.9720811!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x445aa7102e4eed34!2sGrootan%20Technologies%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1627736530491!5m2!1sen!2sin" width="600" height="150" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </p>

          </div>
        </div>
      </div>
    </div>
</footer>


{% endblock %}
